{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Dolorem delectus ipsum doloribus natus assumenda. 
        Dignissimos blanditiis quo nesciunt non aliquam, 
        dolor quas quasi assumenda tempora sapiente soluta 
        veritatis illo consectetur asperiores, hic debitis, at sed. 
        Amet laudantium soluta voluptate esse id consequuntur magnam 
        nobis quasi doloribus laboriosam quibusdam itaque aut sunt 
        nihil voluptas ut beatae modi libero, nesciunt dolore 
        perferendis repellat exercitationem repudiandae vero. 
        Esse sit eveniet, fugiat laudantium soluta earum laborum 
        doloribus doloremque debitis aliquam quae voluptatibus ab 
        temporibus quos sapiente maiores repellendus libero vero numquam totam. 
        Tempore exercitationem inventore quisquam corporis animi 
        necessitatibus veniam? Laborum minima a tempora?</p>

        <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Signin
        </a>
        <a class="btn btn-dark" href="/signup/">
            Signup
        </a>
        </div>
    
    </section>
</main>
{% endblock %}